/* style.css */

html, body, div, span, applet, object, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 1em;
	/*vertical-align: baseline;*/
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

html {
	-ms-text-size-adjust: 100%;
	-webkit-tap-highlight-color: transparent;
	-webkit-text-size-adjust: 100%;
	display: block;
	font-family: sans-serif;
	font-size: 10px;
	height: 100%;
	width: 100%;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	line-height: 1.5;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.42857;
	color: #333333;

	/*background: rgba(231, 231, 231, 0.43);*/
	/*background:#FFF;
	line-height: 1.125em;*/
	max-width: 1920px;
	margin: 0 auto;
	position: relative;
	font-family: 'Lato', Helvetica, Arial, Tahoma;
	/*text-shadow: 1px 1px 0 rgba(0,0,0,0.3);*/

	font: 18px/30px Lato,sans-serif;
}

div {
	display: block;
	margin-left: 135;
}



ol, ul {
	padding: 0 10px;
	margin: 0 10px;
	line-height: 1.5em;
}
h1, h2, h3, h4, h5, h6 {
	/*text-shadow: 1px 1px 0 rgba(0,0,0,0.5);*/
	color:#000000;
	font-family: 'Lato', Georgia, Helvetica, Tahoma;
	font-size:34px;
	font-weight: normal;
	letter-spacing:1px;
	margin: 10px 0;
	text-transform:uppercase;
}
h1 {
	font-size: 1.875em;
}
h2 {
	font-size: 1.6em;
	line-height: 1em;
}
h3 {
	font-size: 1.25em;
}
h4 {
	font-size: 1.125em;
}
h5 {
	font-size: 1em;
}
h6 {
	font-size: 0.875em;
}

a {
	text-decoration: none;
	color: white;
}

a:hover {
	color: #a7b3c3;
	opacity: 0.9;
}

a:visited {
	text-decoration: none;
}

button {
	overflow: visible;
}

.fixed-top {
	position: fixed;
}

/******** NAVBAR ********/

header a:visited {
	text-decoration: none;
}

header a:hover {
	color: #a7b3c3;
	text-decoration: none;
	transition: 0.9s;
}

header .row {
	margin-right: 0;
	margin-left: 0;
}

.site-header {
	padding-top: 16px;
}

nav {
	height: 90px;
	padding: 16px;
	position: absolute;
	right: 0;
	top: 0;
	width: 390px;
	z-index: 99999;
}

.navbar {
	position: fixed;
	display: inline-block;
	width: 100%;
}

.navbar a {
	-webkit-font-smoothing: antialiased;
	-webkit-transition: color .2s ease-in-out;
	color: #000;
	font-weight: 300;
	outline: 0;
	text-decoration: none;
	transition: color .2s ease-in-out;
}

/***** NAVBAR-HEADER *****/

.navigation {
	padding-top: 5px;
}

.navbar-header {
	background: rgba(255, 255, 255, 0.7);
	height: 80px;
	margin-top: -20px;
	padding: 20px 0px 0px 0px;
}

.navbar-header a {
	text-decoration: none;
	color: #000;
}

.site-header-inner
{
	height: 46px;
}

/*** LOGO MARLOU***/

.logo-marlou {
	padding-top: 3px;
}

.navbar-link {
	font-size: 30px;
	/*margin-left: 25px;*/
	vertical-align: middle;
}

/*** BURGER ***/

.toggle-button:after {
	top: -8px;
}

.toggle-button:after, .toggle-button:before {
	height: 3px;
}

.toggle-button:before {
	top: 8px;
}

.toggle-button {
	height: 3px;
	background-color: #000;
}

/*** VISIBLE XS ***/



.visible-xs .navbar-link{
	font-size: 20px;
	margin: 0px 0px 0px 0px;
	vertical-align: text-top;
}
/*
.visible-xs .navbar-header {
	height: 70px;
	position: fixed;
}

.visible-xs .shop {
	text-transform: uppercase;
	font-size: 20px;
	margin-left: 22%;
}

.visible-xs .col-xs-2 {
	padding: 0;
}

.visible-xs .responsive-toggle-wrapper {
	margin-left: 40%;
	padding-top: 6px;
}
*/


/***** SOCIAL LIST *****/


.social-list {
	display: block;
	left: 20px;
	/*position: fixed;*/
	padding-left: 0px;
}

.social-list a {
	border-radius: 2%;
	border: 23px solid;
	color: rgba(255, 255, 255, 0.7);
	display: inline-block;
	font-size: 25px;
	height: 40px;
	line-height: 0%;
	text-align: center;
	width: 40px;
}

.fa {
	/*margin : -13px;*/
	color: black;
	/*vertical-align: bottom;*/
}

/***** SHOP BUTTON | hidden xs *****/

.fa-envelope-o 
{
	padding-top: 13px;
}

.fa-facebook
{
	padding-top: 13px;
}

.social-list .btn-fa
{
	width : 46px;
	border-radius: 0px;
}

.social-list .btn-shop
{
	width: 120px;
}
.social-list .btn-shop,
.social-list .btn-fa
{
	background-color: rgba(255, 255, 255, 0.6);
	border: none;
	box-shadow: none;
	float: right;
	font-size: 20px;
	height: 46px;
	letter-spacing: 0.7px;
	margin-top: 0;
	text-shadow: none;
	text-transform: uppercase;
}

.navbar-shop p,
.social-list p
{
	padding-top: 9px;
	height: 100%;
}

.navbar-shop .row {
	margin-left: -60px;
	width: 120px;
	height: 100%;
}

.btn:hover, .btn-default:hover, 
.social-list .btn-shop:hover,
.social-list .btn-fa:hover
{
	background-color: #a7b3c3;
	border-color: none; 
	text-decoration: none;
}

.btn:visited, .btn-default:visited, 
.social-list .btn-shop:visited,
.social-list .btn-fa:visited
{
	text-decoration: none;
}

.btn, a.btn {
	text-shadow: none;
	margin-top: 0;
	height: 46px;
	width: 76px;
	float: right;
	font-size: 20px;
	letter-spacing: 0.7px;
	background-color: rgba(255, 255, 255, 0.6);
	border: none;
	box-shadow: none;
}

/***** OVERLAY WRAPPER *****/

html.touch .site-header {
	position: fixed;
}

html.no-touch body {
	-webkit-animation-delay: .4s;
	animation-delay: .4s;
	-webkit-animation-duration: .6s;
	animation-duration: .6s;
}
.fade-in, html.no-touch body {
	-webkit-animation-name: fade-in;
	animation-name: fade-in;
}

.site-container {
	position: relative;
}
.site, .site-container {
	width: 100%;
	height: 100%;
}

.site-container.navigation-open {
	overflow: hidden;
}
.site-container {
	position: relative;
}
.site, .site-container {
	width: 100%;
	height: 100%;
}

.navigation-open .site-header {
	height: 0;
}

.site-header {
	position: fixed;
	height: 105px;
	top: 0;
	left: 0;
	right: 0;
	z-index: 9999;
	width: 100%;
	-webkit-transition: top .2s ease-in-out;
	transition: top .2s ease-in-out;
}

::selection {
	background: #a7b3c3;
	color: #fff;
}

*, :after, :before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.navigation-close .error-content-inner, 
.navigation-close .navigation-overlay, 
.navigation-close .slick-active .slide-content-inner, 
.navigation-close .slick-dots, 
.navigation-open .error-content-inner, 
.navigation-open .navigation-overlay, 
.navigation-open .slick-active .slide-content-inner, 
.navigation-open .slick-dots, 
article.case .case-header, 
article.case .page-heading, 
article.case .section, 
article.page .case-header, 
article.page .page-heading, 
article.page .section, 
body.initial-loading .frontpage-slider .slick-dots, 
body.initial-loading .frontpage-slider .slide-content .slide-content-inner, 
body.initial-loading .logo, 
body.initial-loading .responsive-toggle-wrapper, 
html.no-touch body {
	-webkit-animation-duration: .75s;
	animation-duration: .75s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

.navigation-overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: #a7b3c3;
	background-image: url(../img/default-gradient.svg);
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	z-index: 999;
	overflow: hidden;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: visibility .4s;
	transition: visibility .4s;
	-webkit-transition-delay: 1s;
	transition-delay: 1s;
}

.navigation-open .navigation-overlay {
	visibility: visible;
	-webkit-transition: visibility 0s;
	transition: visibility 0s;
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
	opacity: 1;
	-webkit-animation-delay: .1s;
	animation-delay: .1s;
	-webkit-animation-duration: .6s;
	animation-duration: .6s;
}

.navigation-open .navigation-overlay, 
.translate-down-big-in-no-fade {
	-webkit-animation-name: translate-down-big-in-no-fade;
	animation-name: translate-down-big-in-no-fade;
}


@media (min-width: 768px)
.navigation-overlay p {
	padding-top: 6em;
	text-transform: uppercase;
	font-size: 25px;
	color: #fff;
	letter-spacing: .7em;
	font-family: 'Lato', Helvetica, Arial, Tahoma;
}

@media (max-width: 480px)
.navigation-overlay p {
	padding-top: 6em;
	text-transform: uppercase;
	font-size: 15px;
	color: #fff;
	letter-spacing: .7em;
	font-family: 'Lato', Helvetica, Arial, Tahoma;
}

.navigation-overlay p {
	padding-top: 0em;
	text-transform: uppercase;
	/*font-size: 22px;*/
	color: #fff;
	letter-spacing: .3em;
	font-family: 'Lato', Helvetica, Arial, Tahoma;
}

.navigation-overlay .hidden-xs {
	font-size: 22px;
	padding-left: 117px;
	padding-right: 70px;
}

.navigation-overlay .visible-xs {
	font-size: 15px;
	line-height: 170%;
}

.navigation-overlay .text-top {
	padding-top: 7em;
}

.responsive-toggle-wrapper {
	position: inherit;
	padding-top: 12px;
}

@media (min-width: 768px)
.responsive-toggle-wrapper {
	top: 40px;
	right: 40px;
}

@media (min-width: 480px)
.responsive-toggle-wrapper {
	width: 30px;
	height: 25px;
	font-size: 25px;
	top: 30px;
	right: 30px;
}

.responsive-toggle-wrapper {
	position: none;
	right: 20px;
	top: 24px;
	width: 27px;
	height: 36px;
	font-size: 20px;
	display: block;
	min-height: 1px;
	z-index: 9999;
	cursor: pointer;

	/*float: right;*/
	padding-top: 12px;
}

.responsive-toggle {
	display: block;
	width: 100%;
	height: 100%;
	line-height: 100%;
	cursor: pointer;
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	position: relative;
}

.responsive-toggle::after {
	content: "";
	position: absolute;
	top: -5px;
	bottom: -5px;
	left: -5px;
	right: -5px;
	outline: 0;
}


@media (min-width: 480px)
.toggle-button, .toggle-button:after, .toggle-button:before {
	height: 4px;
}

.toggle-button:before {
	top: 8px;
}

@media (min-width: 480px)
.toggle-button:before {
	top: 9px;
}

@media (min-width: 480px)
.toggle-button, 
.toggle-button:after, 
.toggle-button:before {
	height: 4px;
}

.toggle-button:after, 
.toggle-button:before {
	display: block;
	content: "";
	width: 100%;
	height: 3px;
	border-radius: 1px;
	background: inherit;
	position: absolute;
	-webkit-transition: -webkit-transform .25s;
	transition: transform .25s;
}

.toggle-button {
	position: relative;
	display: block;
	top: 9px;
	width: 100%;
	height: 3px;
	border-radius: 0px;
	background-color: #fff;
	background-image: none!important;
	background-color: #000;
}

.navigation-open .toggle-button {
	height: 0;
}

@media (min-width: 480px)
html.no-touch .responsive-toggle:hover .toggle-button:before {
	top: 11px;
}
html.no-touch .responsive-toggle:hover .toggle-button:before {
	top: 9px;
}

@media (min-width: 480px)
html.no-touch .responsive-toggle:hover .toggle-button:after {
	top: -11px;
}
html.no-touch .responsive-toggle:hover .toggle-button:after {
	top: -9px;
}

.navigation-open .toggle-button:before {
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.navigation-open .toggle-button:after {
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.navigation-open .toggle-button:after, 
.navigation-open .toggle-button:before {
	-webkit-transition: -webkit-transform .25s;
	transition: transform .25s;
	top: 0!important;
}



/****** SITE CONTENT ******/

/*** SLIDE ***/


.site-content {
	height: 100%;
}	

#site-wrapper {
	height: 100%;
}


.horizontal-wrapper {
	/*width: 5644px;*/
	height: 100%;
	margin: 0;
	display: inline-flex;
	
}

.slide-img {
	height: 100%;
	min-height: 500px;
	padding-left: 1px;
	padding-right: 1px;
}

.first-img {
	padding-left: 0px;
	margin-left: 0;
}

.last-img {
	padding-right: 0px;
}

/*** SOCIAL-LIST | visible xs ***/ 

.site-content a:hover {
	text-decoration: none;
	color: #a7b3c3;
}

.visible-xs .social-list {
	margin-top: 50%;
	margin-left: -5%;
	position: fixed;
}
/*
.visible-xs li {
	margin-bottom: 10px;
	margin-top: 10px;
}
*/
.list-unstyled a {
	margin-bottom: 10px;
	margin-top: 10px;
}

/******** CAROUSEL **************/


.carousel-caption {
	top: 20%;
	text-shadow: none;
	right: 0;
	left: 0;
}

.carousel-inner {
	-webkit transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.carousel-control {
	top: 50%;
	bottom: auto;
	/*width: 90%;
	left: 2.5%;
	text-align: right;*/
	width: 46px;
	height: 46px;
	
}

.carousel-control span {
	width: 34px;
	height: 34px;
	display: inline-block;
}

.arrow a:hover {
	border-left: #a7b3c3;
}

.carousel-control.left {
	background-image: none;
	z-index: 1000;
	right: inherit;
	position: fixed;
	/*left: -83%;*/
	left: 43px;
}

.carousel-control.right {
	background-image: none;
	z-index: 1000;
	right: inherit;
	position: fixed;
	right: 43px;
}

.carousel-control.left span {
	border-left: 2px solid #000;
	border-top: 2px solid #000;
	transform: rotate(-45deg);
}

.carousel-control.right span {
	border-right: 2px solid #000;
	border-top: 2px solid #000;
	transform: rotate(45deg);
}

.carousel-inner > .item > a > img {
	display: block;
	max-width: 50%;
	height: auto;
}

.carousel-inner > .item.prev,
.carousel-inner > .item.active.left {
	left: 0;
	-webkit-transform: translate3d(-50px, 0, 0);
	transform: translate3d(-50px, 0, 0);
}

.carousel-inner > .active,
.carousel-inner > .next,
.carousel-inner > .prev {
	display: inline-flex;
}


.swiper-wrapper {
	padding-left: 307px;
	padding-right: 319.5px;
	transition-duration: 0.3s;
	-webkit-transition-duration: 0.3s;
	transform: translate3d(-2483px, 0px, 0px);
	-webkit-transform: translate3d(-2483px, 0px, 0px);
	width: 5059px;
	height: 560px;
}




/********* ARROWS ***************/


@-webkit-keyframes arrows {
	0% { left:0; }
	10% { left:12%; }
	20% { left:0; }
	30% { left:12%; }
	40% { left:-12%; }
	50% { left:12%; }
	60% { left:0; }
	70% { left:12%; }
	80% { left:-12%; }
	90% { left:12%; }
	100% { left:0; }
}

.arrow {
	-webkit-animation: arrows 2.8s 0.4s;
	-webkit-animation-delay: 3s;
}






/********* FOOTER *************/
/*

.blackground {
	background-color: black;
}

.navbar-fixed-bottom {
	position: relative;
}

#footer .row {
	color: #fff;
	margin-top: 2em;
	margin-bottom: 1em;
}


*/

